/* css/style.css */
body {
  font-family: 'Roboto', sans-serif; /* Google FontsなどからRobotoをインポートするとより現代的 */
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  background-color: #f8f9fa; /* 明るいグレーの背景色で落ち着いた雰囲気を */
}
/* スマートフォンや小さいデバイス向けのスタイル */
@media (max-width: 768px) {
  body {
      font-size: 16px; /* 基本のフォントサイズを大きくする */
      padding: auto;
  }
  h1, h2, h3, h4, h5, h6{
      font-size: 1.5rem; /* タイトルのフォントサイズを相対的に大きくする */
  }
  p {
      font-size: 1rem; /* 段落のテキストサイズを調整 */
  }
  header h1 {
    font-size: 20px; /* ヘッダーのタイトルのフォントサイズを大きくする */
  }
  .navbar-nav .nav-link {
    font-size: 18px; /* ナビゲーションリンクのフォントサイズを大きくする */
  }
}

.text-large {
  font-size: 1.2rem; /* 上段のテキストサイズを大きく */
}

.text-small {
  font-size: 0.9rem; /* 下段のテキストサイズを小さく */
  margin-left: 20px
}


header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0,0,0,.2); /* ヘッダーとフッターに軽い影を追加 */
}

ul {
  word-wrap: break-word; /* 古いブラウザ向け */
  overflow-wrap: break-word; /* 標準 */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; /* ホバー時の色変更アニメーション */
}

nav ul li a:hover {
  color: #ccc; /* ホバー時に色を変えてユーザーインタラクションを示す */
}

/* ナビゲーションリンクの基本スタイル */
.nav-link {
  color: #666; /* 通常時は少し暗い色 */
  position: relative;
  text-decoration: none; /* 下線を消去 */
  transition: color 0.3s; /* 色の変化を滑らかに */
}

/* ホバー時のスタイル */
.nav-link:hover, .nav-link.active {
  color: #fff; /* フォントの色を明るく */
}

/* 下線のアニメーション */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s, left 0.3s; /* 幅と位置の変化を滑らかに */
}

.nav-link:hover::after, .nav-link.active::after {
  width: 100%; /* 下線の幅を最大に */
  left: 0; /* 下線の位置を左端に */
}


main {
  padding: 20px;
}

p {
  line-height: 1.6; /* 読みやすさを考慮した行間隔 */
  margin-top: 0px;
  margin-bottom: 1rem; /* 段落間の適切なスペース */
}

.underline-text {
  text-decoration: underline;
}

/* Navbarのカスタマイズ */
.navbar {
  background-color: #333 !important;
  box-shadow: 0 4px 6px rgba(0,0,0,.1); /* ナビゲーションバーにも影を追加 */
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

.navbar .navbar-brand {
  color: white !important;
}

/* 現在アクティブなナビゲーションリンクの色を変更したい場合 */
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #ccc !important;
}

/* ボタンスタイルの追加 */
.btn-custom {
  background-color: #007bff; /* Bootstrapのプライマリーカラー */
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #0056b3; /* ホバー時に暗く */
}

.timeline {
  border-left: 2px solid #007bff; /* タイムラインの線 */
  padding-left: 20px; /* タイムラインからの余白を増やして右に寄せる */
  position: relative;
}

.timeline-item {
  margin-bottom: 10px; /* アイテム間の余白 */
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -8px; /* 中心点の位置を調整して線と丸が中心で合うように */
  top: 0;
  height: 12px;
  width: 12px;
  background-color: #007bff; /* 中心点の色 */
  border-radius: 50%; /* 円形にする */
  box-shadow: 0 0 0 3px #fff; /* 中心点の周りの白い輪 */
}

.date {
  font-weight: bold;
  margin-right: 10px; /* 日付とテキストの間隔 */
}

.contact-list {
  list-style-type: none; /* リストの記号を消去 */
  padding: 0; /* リストのデフォルトパディングを消去 */
}

.contact-list li {
  margin-bottom: 10px; /* リストアイテム間のマージン */
  display: flex; /* フレックスボックスモデルを適用 */
  align-items: center; /* アイテムを中央揃え */
}

.contact-list li img {
  margin-right: 10px; /* 画像とテキストの間隔 */
  width: 48px; /* 元のサイズの2倍の幅 */
  /* height: 48px;*/ /* 元のサイズの2倍の高さ */
  object-fit: contain; /* 縦横比を保持 (必要に応じて) */
}



