/* css/style.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.underline-text {
  text-decoration: underline;
}

/* Navbarのカスタマイズ */
.navbar {
  background-color: #333 !important; /* 背景色を#333に設定 */
}

.navbar .navbar-nav .nav-link {
  color: white !important; /* ナビゲーションバーのリンクテキストを白に設定 */
}

.navbar .navbar-brand {
  color: white !important; /* ナビゲーションバーのブランド（タイトル）テキストを白に設定 */
}

/* 現在アクティブなナビゲーションリンクの色を変更したい場合 */
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #ccc !important; /* アクティブなリンクテキストの色を明るい灰色に設定 */
}

